*~
*.exe
*.dll
*.lib
*.log
*.diff
*.patch
*.old
*.bak
*.orig
*.rej
*.aps
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.suo
*.user
*.obj
*.res
*.exp
*.ilk
*.pdb
*/.vs/
*/ipch/
*/win32/
*/x64/
*.ts
*.ass
*.srt
